*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading{
    text-align: center;
    font-size: 4rem;
    font-family: serif;
    font-weight: bold;
    font-style: italic;
}
.card-body{
    color:black !important;

}
.dark{
    background-color: black;
    color:white;
}